python-dotenv
pandas
numpy
sqlalchemy
sqlite3-binary
requests
tqdm
spacy
scikit-learn
tensorflow
torch
transformers
sentencepiece
crewai
langchain
langchain-community
openai
llama-cpp-python
huggingface-hub
streamlit
matplotlib
seaborn
python-multipart
pydantic
fastapi
uvicorn
joblib
